#outer{
	width:100%;
	text-align:center;
	
}
#inner{
	display:inine-block;
	border:1px solid gray;
	width:600px;
	padding:10px;
	margin:10px auto;
	border-radius:7px; /* for ie */
	-moz-border-radius:7px; /*compatible with firefox */
	-webkit-border-radius:7px;	 /*compatible with chrome safari */
	box-shadow:5px 5px 15px #A0A0A0; /*A zero */
	-moz-box-shadow:5px 5px 15px #A0A0A0;
	-webkit-box-shadow:5px 5px 15px #A0A0A0;
	
}